
<div>
  <form nz-form [formGroup]="addMetaForm" (ngSubmit)="submitForm(addMetaForm.value)">
    
    <!--Metadata Title-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="titleErrorTpl">
        <input nz-input formControlName="metaTitle" placeholder="Metadata title" />
        <ng-template #titleErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter a title for this metadata !
          </ng-container>
          <!--
          <ng-container *ngIf="control.hasError('duplicated')">
            The username is redundant!
          </ng-container>
        -->
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!--Metadata Description-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="descErrorTpl">
        <input nz-input formControlName="metaDescription" placeholder="Metadata description" />
        <ng-template #descErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter a description for this metadata!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!---
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Date</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker nzShowTime formControlName="metaDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Comment</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
        <textarea formControlName="metaComment" nz-input rows="2" placeholder="write addtionnal comment"></textarea>
      </nz-form-control>
    </nz-form-item>
  -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!addMetaForm.valid" (click)="submitForm($event)">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

